.link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.link:not(:last-child) {
  margin-right: 12px;
}

.activeLink {
  composes: link;
  color: yellow;
}
