.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  font-family: 'Cantarell';
  font-size: 19px;
  margin-bottom: 40px;
}
.namefirst {
  margin-left: 32px;
}
.namesecond {
  margin-left: 10px;
}
.inputc {
  margin-top: 20px;
  margin-bottom: 20px;
}
.button {
  width: 100px;
  height: 30px;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  border-radius: 10%;
  border: #f7797d;
  color: azure;
  font-family: 'Cantarell';
  font-size: 15px;
}
.button:hover {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.button:focus {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.input {
  margin-left: 18px;
  margin-bottom: 20px;
}
.label {
  margin-top: 10px;
}
